.container-projects {
    background-color: #2a2a2a;
    height: calc(100vh - 75px);
}

.little-text {
    font-size: 3em;
    z-index: 10;
    letter-spacing: 4px;
    left: 8.5%;
    position: absolute;
    margin-top: 75px;
}

.big-text {
    font-family: "montserrat", serif;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    left: 15%;
    margin-top: 3%;
    color: #252525;
    font-size: 10em;
    z-index: 2;
}

.content-project {
    z-index: 3;
    position: relative;
    left: 8.5%;
    top: 20%;
    width: fit-content;
    height: 64%;
    bottom: 0;
    background-color: black;
}
.project-description-text-container{
    position: absolute;
    right: 170px;
    width: 20vw;
    margin-top: 34%;
}
.project-description-text{
    margin-bottom: 15px;
}
.content-project-image {
    width: 60vw;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    opacity: 0.8;
}

.content-project-title {
    height: fit-content;
    left: 5%;
    color: #2a2a2a;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "montserrat", serif;
    position: absolute;
    bottom: 0;
}