.skills-container{
    height: calc(100vh - 75px);
    background-color: #313131;
    flex-wrap: wrap;
    width: 100vw;
}

.skills-img{
    height: 100px;
    width: 100px;
    border-radius: 22px;
    background-color: white;;
}

.skills-title{
    font-size: 1.25em;
    text-transform: uppercase;
    color: white;
    font-family: "montserrat", serif;
    font-weight: 600;
    letter-spacing: 0.7px;
}

.skills-item *{
    margin-bottom: 15px;
}
.skills-item-description{
    font-size: 1em;
    padding: 0 32px;
}

.skills-item{
    width: 30%;
    min-width: 30%;
    max-width: 30%;
}

.skills-item-container{
    height: 70%;
    flex-wrap: wrap;
}
