.header-container{
    color: white;
    position: fixed;
    width: 100%;
    transition: .360s;
}

.header-container ul{
    height: 100%;
}

.header-container ul li a{
    text-transform: uppercase;
}
.right-header-component-indicator{
    height: 2px;
    width: available;
    background-color: #5D38E5;
}
