.headerContainer{
    background-color: #282828;
    color: white;
    height: 30px;
}

.headerContainer ul{
    height: 100%;
}

.headerContainer ul li a{
    margin: 0 10px 0 10px;
    color: white;
    font-family: "nunito";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.75rem;
}



@media screen and (max-width: 820px){

}
